@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Text Styles */
  .header-nav {
    @apply font-josefin text-16 font-500 capitalize;
  }
  .title-logo {
    @apply font-josefin text-60 font-700 lowercase;
  }
  .sub-title {
    @apply font-josefin text-30 font-500 capitalize;
  }
  .sub-header {
    @apply font-josefin text-16 font-600 capitalize;
  }
  .header {
    @apply font-josefin text-30 font-700 lowercase;
  }
  .body-main {
    @apply font-avenir text-16 font-500;
  }
  .button {
    @apply font-josefin text-16 font-400;
  }
  .name {
    @apply font-josefin text-16 font-600 capitalize;
  }
  .title-company {
    @apply font-avenir text-12 font-500;
  }
  .small {
    @apply font-avenir text-12 font-500;
  }

  /* Applaud Card Layout */
  .applaud-card {
    @apply flex flex-col p-4 mb-8 gap-2.5 border-solid border border-silver rounded-3xl;
  }
  .sender-name-card {
    @apply flex items-center justify-end gap-8 px-3.5 py-2.5 border-solid border border-silver rounded-2xl;
  }
  .receiver-name-card {
    @apply flex items-center gap-8 px-3.5 py-2.5 border-solid border border-silver rounded-2xl bg-paper;
  }
  .name-card-spacing {
    @apply flex flex-col gap-1;
  }
  .profile-img {
    @apply rounded-full outline outline-1 outline-silver;
  }
}

:root {
  /* core colors */
  --core-black: #000000;
  --core-metal: #0d0d0d;
  --core-charcoal: #303030;
  --core-stone: #626262;
  --core-silver: #bab8b5;
  --core-paper: #f8f6f2;
  --core-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--core-metal);
  background-color: var(--core-white);
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-family: avenir next, sans-serif;
}

.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 40px 20px;
  gap: 40px;
}

.landingPage header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: avenir next, sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}

.headerLogin {
  border: 0.5px solid var(--core-metal);
  padding: 2px 9px;
}

.landingPage main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 140px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.introText {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.startBtn {
  width: 310px;
  height: 40px;
  background-color: var(--core-metal);
  color: var(--core-paper);
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.singleFeature {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

footer p {
  margin-top: 30px;
  font-size: 14px;
}
