@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Text Styles */
  .header-nav {
    @apply font-avenir text-16 font-500 capitalize;
  }
  .title-logo {
    @apply font-josefin text-60 font-700 lowercase;
  }
  .header-logo {
    @apply font-josefin text-24 font-700 lowercase;
  }
  .sub-title {
    @apply font-josefin text-30 font-600 lowercase;
  }
  .sub-header {
    @apply font-avenir text-16 font-500 lowercase;
  }
  .header {
    @apply font-josefin text-30 font-700 lowercase;
  }
  .body-large {
    @apply font-josefin text-20 font-700;
  }
  .body-main {
    @apply font-avenir text-16 font-500;
  }
  .body-small {
    @apply font-avenir text-14 font-500;
  }
  .body-skill{
    @apply font-josefin text-14 font-400;
  }
  .button {
    @apply font-josefin text-16 font-400;
  }
  .name {
    @apply font-josefin text-16 font-600 capitalize;
  }
  .title-company {
    @apply font-avenir text-12 font-500;
  }
  .small {
    @apply font-avenir text-10 font-500;
  }

  /* Applaud Card Layout */
  .applaud-card {
    @apply flex flex-col p-4 mb-8 gap-2.5 border-solid border border-silver bg-white rounded-3xl overflow-hidden;
  }
  .sender-name-card {
    @apply flex items-center justify-end gap-8 px-3.5 py-2 border-solid border bg-white border-silver rounded-2xl;
  }
  .receiver-name-card {
    @apply flex items-center gap-8 px-3.5 py-2 border-solid border border-silver rounded-2xl bg-paper;
  }
  .name-card-spacing {
    @apply flex flex-col gap-1;
  }
  .profile-img {
    @apply rounded-full outline outline-1 outline-silver;
  }

  /* Button */
  .header-btn {
    @apply flex items-center border-solid border border-silver rounded-2xl px-2.5 py-1 h-8 bg-white;
  }
  .start-btn {
    @apply flex items-center justify-center w-full border-solid border border-silver rounded-3xl p-2.5 bg-white;
  }
  .login-btn {
    @apply flex items-center justify-between w-2/3 border-solid border border-silver rounded-3xl px-5 py-2.5 bg-white;
  }
  .btn {
    @apply flex items-center justify-center w-2/3 border-solid border border-silver rounded-3xl px-5 py-2.5 bg-white;
  }
  .skill-btn {
    @apply flex items-center border-solid border border-silver rounded-2xl px-2.5 py-1 h-8 body-skill;
  }

  /* Special */
  .ombre-text {
    @apply text-transparent bg-clip-text bg-logo;
  }
}

:root {
  /* core colors */
  --core-black: #000000;
  --core-metal: #0d0d0d;
  --core-charcoal: #303030;
  --core-stone: #5a5a5a;
  --core-grey: #919191;
  --core-silver: #b8b8b8;
  --core-light: #f6f6f6;
  --core-paper: #f8f6f2;
  --core-white: #ffffff;
  --core-border: linear-gradient(
    125deg,
    #3db3e2 16.46%,
    #9ed7f3 36.98%,
    #d7bdf5 51.69%,
    #cc81f1 60.85%,
    #e96069 71.67%,
    #f09674 91.21%
  );
  --core-logo: linear-gradient(
    125deg,
    #68d0f9 16.46%,
    #9ed7f3 36.98%,
    #d7bdf5 51.69%,
    #cc81f1 60.85%,
    #e96069 68.76%,
    #f09674 91.21%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--core-metal);
  background-color: var(--core-light);
}

.counter-border {
  position: relative;
  border-radius: 30px;
  padding: 1.5px;
  background-image: var(--core-logo);
}

.counter {
  background: var(--core-white);
  padding: 1px 6px;
  border-radius: 30px;
  text-align: center;
}

.single-applaud-border {
  border-radius: 30px;
  padding: 1.5px;
  background-image: var(--core-logo);
}

.single-applaud {
  background: var(--core-white);
  padding: 16px 30px;
  border-radius: 30px;
}
